<div class="container">
  <h1>Photo list</h1>
  <div *ngIf="photoService.photos.length">
    <mat-form-field appearance="fill">
      <mat-label>Favorite food</mat-label>
      <mat-select [(ngModel)]="selectedAlbumId" (valueChange)="selectChange($event)"  name="food">
        <mat-option [value]="0">All</mat-option>
        <mat-option *ngFor="let photo of photoService.photos | albumIdPipe" [value]="photo">
          {{photo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="!loading; else isLoading">
    <div *ngIf="photoService.photos.length; else noPhoto" class="tile-block">
      <mat-card
        class="photo-card"
        *ngFor="let photo of photoService.photos | photoPipe:selectedAlbumId | paginate: { itemsPerPage: itemsPerPage, currentPage: page }"
      >
        <div>
          <img (click)="openDialog(photo.url)" mat-card-image src="{{ photo.thumbnailUrl }}" alt="">
        </div>
        <mat-card-content>
          <p>{{ photo.title }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="photoService.deletePhoto(photo.id)" class="delete-button" mat-button>DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <ng-template #noPhoto>
      <p>No photos</p>
    </ng-template>

    <pagination-controls
      class="pagination"
      *ngIf="photoService.photos.length"
      (pageChange)="page = $event"
    ></pagination-controls>
  </div>

  <ng-template #isLoading>
    <p>Loading...</p>
  </ng-template>
</div>
